:root {
  --dark-bgColor: #252525;
  --dark-color: #f8f5f5;

  /*dim theme*/
  --dim-bgColor: #212830;
  --dim-color: #005ce3;

  --header-bgColor: #e3e3e8;

  --table-border-color: #ccc;
  --table-tr-th-bgColor: #f5f6f9;
}

p {
  padding: 10px 0;
}
strong {
  margin-bottom: 10px !important;
}
p:first-child,
p:last-child {
  padding: 0;
}

ol li {
  //border: 1px solid #f40;
  padding: 6px 0;
}

tr th {
  background-color: var(--table-tr-th-bgColor);
}

tr th,
tr td {
  border: 1px solid var(--table-border-color);
  padding: 8px 10px;
}

ul {
  padding: 10px !important;
  display: grid;
  gap: 10px;
}

hr {
  padding-bottom: 10px;
}

h4 {
  padding: 6px 0;
}
