:root {
  --primary: #007bff;
  --primary-hover: #3a5ce4;
  --primary-disabled: #7f93e6;
}

/* avatar */
.user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  .user_message {
    max-width: 90%;
    background-color: #626060;
    color: white;
    padding: 8px 8px;
    border-radius: 5px;
  }
  .user_avatar {
    width: 40px;
    height: 40px;
  }
}

/* 思考内容 */
.think-content {
  background-color: #f5f5f5;
  color: #999;
  border-radius: 5px;
  //display: none;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.message-content {
  background-color: #f5f5f5;
}
.thinkLoading {
  background-color: #e3e3e8;
  padding: 20px 0 20px 20px;
}

.think-content::before {
  content: "";
  position: absolute;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
}
.headerContent {
  background-color: #e3e3e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 4px 0 4px 4px;
  transition: 0.5s;
  margin: 10px 0;
  border-radius: 5px;
  img {
    width: 20px;
    padding-right: 4px;
  }
}
